* {
    border-radius: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    
}

.form-style {
    margin: 75px;
    padding: 0 15px;
    border-right: solid thin black;
}

div.login-message {
    margin-top: 75px;
    padding: 0 15px;
    vertical-align: middle;
}

.login-message, h1 {
    margin-bottom: -.5em;
}
